div.sidetext{
/*    margin-left: 350px;*/
    margin-bottom: 50px;
}
div.ipfshash{
/*    margin-left: 350px;*/
    margin-bottom: 50px;
}
div.connectbutton{
/*    margin-left: 350px;*/
    margin-bottom: 50px;
}
p{
    display: inline;
    white-space: nowrap;
}